<div class="shadow bg-[#212529] text-[1.5rem]">
    <div class="flex items-center justify-between text-white gap-[4rem] px-[5rem] py-[2rem]">
        <a class="text-2xl hover:text-cyan-400 transition-colors" href="">LMS</a>
        <ul class="hidden lg:flex items-center gap-5 flex-grow justify-between max-w-[100rem]">
            <li class="relative group">
                <a class="hover:text-cyan-400 transition-colors" href="#">Home +</a>
                <ul class="absolute hidden text-black group-hover:block bg-white  w-[20rem] p-[2rem] space-y-4  text-[1.6rem]">
                    <li><a href="#" class="block  hover:text-[#ff3158]">Item 1</a></li>
                    <li><a href="#" class="block  hover:text-[#ff3158]">Item 2</a></li>
                    <li><a href="#" class="block  hover:text-[#ff3158]">Item 2</a></li>
                </ul>
            </li>
            <li class="relative group">
                <a class="hover:text-cyan-400 transition-colors" href="#">Home +</a>
                <ul class="absolute hidden text-black group-hover:block bg-white  w-[20rem] p-[2rem] space-y-4  text-[1.6rem]">
                    <li><a href="#" class="block  hover:text-[#ff3158]">Item 1</a></li>
                    <li><a href="#" class="block  hover:text-[#ff3158]">Item 2</a></li>
                    <li><a href="#" class="block  hover:text-[#ff3158]">Item 2</a></li>
                </ul>
            </li>
            <li><a class="hover:text-cyan-400 transition-colors" href="#">About</a></li>
            <li class="relative group">
                <a class="hover:text-cyan-400 transition-colors" href="#">Home +</a>
                <ul class="absolute hidden text-black group-hover:block bg-white  w-[20rem] p-[2rem] space-y-4  text-[1.6rem]">
                    <li><a href="#" class="block  hover:text-[#ff3158]">Item 1</a></li>
                    <li><a href="#" class="block  hover:text-[#ff3158]">Item 2</a></li>
                    <li><a href="#" class="block  hover:text-[#ff3158]">Item 2</a></li>
                </ul>
            </li>           
            <li><a class="hover:text-cyan-400 transition-colors" href="#">Contact</a></li>
            <li><a class="hover:text-cyan-400 transition-colors" href="#">Join Now</a></li>
            <li><a class="hover:text-cyan-400 transition-colors" href="#">Join Now</a></li>
            <li><a class="hover:text-cyan-400 transition-colors" href="#">Join Now</a></li>
            <li><a class="hover:text-cyan-400 transition-colors" href="#">Join Now</a></li>
        </ul>
        <div class="block lg:hidden">
            <img style="height: 2rem" src="assets/icons/ham-burger-primary.svg" />
        </div>
    </div>
</div>
