<div class="flex gap-[2rem] w-[max-content] px-[2.5rem] py-[2rem] rounded-[10px] min-w-[40rem]" style="box-shadow: 0 0 5px rgb(0,0,0,0.2);">
    <div class="bg-[var(--primary-transparent-color)] flex p-[1.75rem] h-[7rem]">
        <img [src]="icon" alt="Icon">
    </div>
    <div class="font-['Manrope',sans-serif] font-[800] flex flex-col justify-between">
        <div class="text-[2.4rem]" >{{ title }}</div>
        <div class="text-[1.6rem] flex gap-[0.5rem]" [style.color]="categoryBook.color">
            <div (mouseup)="bookCategoryUp()" (mousedown)="bookCategoryClicked()" class="select-none cursor-pointer">View More</div>
            <div class="flex items-center">
                <app-right-arrow [color]="categoryBook.color" style="height: 1em; width: 1em;"  />
            </div>
        </div>
    </div>
</div>