<div class="faq__contact">
    <div class="container">
      <div class="faq__contactwrapper">
        <div class="faq__thumb">
          <img src="assets/imgs/inner/faq-contact.jpg" alt="thumb">
        </div>
        <div class="eduquest__contact">
          <h4 class="teamDetails__title">Request A Quote For Study</h4>
          <p>Feel Free to Contact us through Twitter ir Facebook Get in touch  it  you prefer!</p>
          <form action="#">
            <div class="eduquest__form">
              <div class="eduquest__fieldwrapper">
                <div class="eduquest__field">
                  <span>Name</span>
                  <input type="text" placeholder="Full Name">
                </div>
                <div class="eduquest__field">
                  <span>Email</span>
                  <input type="text" placeholder="Enter your Email">
                </div>
              </div>
              <div class="eduquest__fieldwrapper">
                <div class="eduquest__field">
                  <span>Phone No</span>
                  <input type="text" placeholder="Phone No">
                </div>
                <div class="eduquest__field">
                  <span>Subject</span>
                  <input type="text" placeholder="Web Development">
                </div>
              </div>
              <div class="eduquest__fullfield">
                <div class="eduquest__field">
                  <span>Phone No</span>
                  <textarea></textarea>
                </div>
              </div>
              <div class="eduquest__formbtnwrapper">
                <button type="submit" class="btn-ractangle">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>