<div class="relative h-[max-content] text-[0.7rem] md:text-[0.8rem] lg:text-[1rem]">
    <div class="text-[white] absolute h-[100%] w-[100%] bg-[rgb(0,0,0,0.5)]">
        <div class="px-[5em] py-[10em]">
            <div class="max-w-[50em] flex flex-col gap-[1.5em]">
                <h1 class="text-[var(--primary)] flex items-center text-[1.8em] font-[800]">
                    <img src="https://wpdemo.itech-theme.com/html/eduquest/assets/imgs/home-1/dot.png" alt="">
                    <p>The Leader in Online Learning</p>
                </h1>
                <h2 class="text-[6em] font-[800]" style="line-height: 1.8ch;">Explore Live Creative Classes</h2>
                <p class="text-[1.8em] font-['DM_Sans',sans-serif] font-[300] text-[#b3c0c4]">Architect client-centered total linkage for intuitive benefits restore convergence before real-time partnerships.</p>
                <div class="flex gap-[2em] text-[1.5em]">
                    <app-button [variant]="AppButtonVariantType.CONTAINED">
                        <div app-button-text>Explore More</div>
                        <img src="https://wpdemo.itech-theme.com/html/eduquest/assets/imgs/home-1/arrow.png" alt=""
                            app-button-image>
                    </app-button>
                    <app-button [variant]="AppButtonVariantType.OUTLINED">
                        <div app-button-text>Explore More</div>
                        <img src="https://wpdemo.itech-theme.com/html/eduquest/assets/imgs/home-1/arrow.png" alt=""
                            app-button-image>
                    </app-button>
                </div>
            </div>
        </div>
    </div>
    <div class="relative z-[-1] w-[100%] flex justify-end overflow-hidden">
        <img class="min-h-[500px] min-w-[1043px]" src="assets/images/girls-smiling.jpg" />
    </div>
</div>
<div class="flex gap-[2rem]">
    <app-category-card [title]="'Book Library & Store'" />
    <app-category-card [title]="'10K+ Online Courses'" />
    <app-category-card [title]="'Expert Instructor'" />
</div>